# Local Build & Cache Directories
.gradle/
.kotlin/
build/

# IDE & Editor Files
.vscode/
.idea/

# Nix & Dependency Lock Files
deps.json
flake.lock
flake.nix
default.nix
.envrc
.direnv/
result

# Environment & Local Configuration
.env
.env.example
.env.*

# Git & CI/CD
.git/
.gitattributes
.gitignore
.github/

# Documentation & Repository Files
Dockerfile
.dockerignore
LICENSE.md
README.md
