IDEALYNC_DISCORD_TOKEN="put token"
IDEALYNC_ROLE_ID=1234

IDEA_MAKER_CHANNEL_ID=1234
IDEA_BOARD_FORUM_ID=1234
PROJECT_BOARD_FORUM_ID=1234

BRAINSTORMING_TAG_ID=1234
HELP_WANTED_TAG_ID=1234
PENDING_TAG_ID=1234