IDEALYNC_DISCORD_TOKEN="1234"

# Role selection flow
ROLE_CHANNEL_ID=1234
MEMBER_ID=1234
OBSERVER_ID=1234

# Idea flow
IDEA_CHANNEL_ID=1234
IDEA_BOARD_FORUM_ID=1234

# Idea forwarding to board
PROJECT_BOARD_FORUM_ID=1234

# For the project board channel
BRAINSTORMING_TAG_ID=1234
HELP_WANTED_TAG_ID=1234
PENDING_TAG_ID=1234